.EventItems {
    padding: 0 0 0 10px;
    display: flex;
    background-color: white;
}

.date {
    font-size: 23px;
    padding: 5px 0 0 2px;
}

.dateDisplay {
    margin: 10px 0 0 0;
}

.items {
    text-align: left;
    margin: 10px 0 0 30px;
    padding: 0;
    width: 100%;
}